<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid sessions-new">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">Twilight Hour</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="http://localhost:3000">Twilight Hour</a>

      </div>
      <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if logged_in? %>
            <li>
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="検索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">🔍</button>
                    </span>
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
            </li>
            <li class="user"><%= link_to current_user.name, user_path(current_user.id) %></li>
            <li><%= link_to "ホーム", feeds_path %></li>
            <li><%= link_to '投稿', new_feed_path %></li>
            <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete ,data: { confirm: 'ログアウトしますか？' }%></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_path %></li>
            <li><%= link_to "ログイン", new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="login-header">
  <h1 id="title">Twilight Hour</h1>
  <div class="header">

    <% if logged_in? %>
      <span class="label label-info"><%= link_to "プロフィール", user_path(current_user.id) %></span>
      <span class="label label-danger"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></span>
    <% else %>
      <span class="label label-primary"><%= link_to "新規登録", new_user_path %></span>
      <span class="label label-success"><%= link_to "ログイン", new_session_path %></span>
  <% end %>
</div>
  <h1 class="center entry">ログイン</h1>
  <% flash.each do |key, value| %>
      <p id="notice"><%= content_tag(:div, value, class: "#{key}") %></p>
  <% end %>
<div class="center">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div id="label-email">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div id="label-password">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
    <p id="new-create"><%= f.submit "ログイン" %></p>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</div>