<div class="login-header">
  <h1 id="title">Twilight Hour</h1>
  <div class="header">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
      <%
=begin%>
 <%= current_user.name %> 
<%
=end%>
      <span class="label label-info"><%= link_to "Profile", user_path(current_user.id) %></span>
      <span class="label label-danger"><%= link_to "Logout", session_path(current_user.id), method: :delete %></span>
    <% else %>
      <span class="label label-primary"><%= link_to "Sign up", new_user_path %></span>
      <span class="label label-success"><%= link_to "Login", new_session_path %></span>
  <% end %>
</div>
  <h1 class="center entry">ログイン</h1>
<div class="center">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div id="label-email">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div id="label-password">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
    <p id="new-create"><%= f.submit "ログイン" %></p>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</div>