<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid main-image">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">Twilight Hour</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="https://salty-earth-13665.herokuapp.com">Twilight Hour</a>

      </div>
      <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if logged_in? %>
            <li>
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="検索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">🔍</button>
                    </span>
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
            </li>
            <li class="user"><%= link_to current_user.name, user_path(current_user.id) %></li>
            <li><%= link_to "ホーム", feeds_path %></li>
            <li><%= link_to '投稿', new_feed_path %></li>
            <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete ,data: { confirm: 'ログアウトしますか？' }%></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_path %></li>
            <li><%= link_to "ログイン", new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main center">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <div class="feed-main">
        <h1>投稿を編集</h1>
        <%= render 'form', feed: @feed %>
        <%= link_to '戻る', @feed %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>