<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main ">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>



      <div id="header-right">
        <% if logged_in? %>
          <span class="label label-info"><%= link_to "プロフィール", user_path(current_user.id) %></span>
          <span class="label label-danger"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></span>
        <% else %>
          <span class="label label-primary"><%= link_to "新規登録", new_user_path %></span>
          <span class="label label-success"><%= link_to "ログイン", new_session_path %></span>
        <% end %>
      </div>

      <% @feeds.each do |feed| %>
        <div class="feed-main">
        <div class="feed-table">
        <table>
        <tr>
          <td>
          <% if feed.user.profile_image.url != nil%>
            <span id="feed-round-image"><%= image_tag(feed.user.profile_image.thumb.url) %></span>
          <% end %>
          </td>
          <td id="profile">
            <h2 id="feed-profile-user"><%= link_to feed.user.name, user_path(feed.user.id) %></h2>
          </td>
        </tr>
        </table>
        </div>
          <div class="show-feed">
            <p id="feed-image">
              <%=link_to image_tag(feed.image.url), feed %>
            </p>
          </div>
          <div id="show-sentence">
            <p id="show-content">
              <%= feed.content %>
            </p>
          </div>

          <div class="show-feed">
            <% unless feed.user_id == current_user.id %>
              <% if current_user.favorites.find_by(feed_id: feed.id)  %>
                <%= link_to 'お気に入り', favorite_path(id: feed.favorites.find_by(user_id: current_user.id).id), method: :delete, class: 'btn btn-warning favorite-btn' %>
              <% else %>
                <%= link_to 'お気に入り', favorites_path(feed_id: feed.id), method: :post, class: 'btn btn-default favorite-btn' %>
              <% end %>
            <% end %>
          </div>

          <div class="create-time">
            <%= feed.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
      <% end %>

      <br>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>