<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid main-image">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">Twilight Hour</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="http://localhost:3000">Twilight Hour</a>

      </div>
      <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% if logged_in? %>
            <li>
              <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="検索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">🔍</button>
                    </span>
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
            </li>
            <li class="user"><%= link_to current_user.name, user_path(current_user.id) %></li>
            <li><%= link_to "ホーム", feeds_path %></li>
            <li><%= link_to '投稿', new_feed_path %></li>
            <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete ,data: { confirm: 'ログアウトしますか？' }%></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_path %></li>
            <li><%= link_to "ログイン", new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main ">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <% @feeds.each do |feed| %>
        <div class="feed-main">
        <div class="feed-table">
        <table>
        <tr>
          <td>
          <% if feed.user.profile_image.url != nil%>
            <span id="feed-round-image"><%= image_tag(feed.user.profile_image.thumb.url) %></span>
          <% end %>
          </td>
          <td id="profile">
            <h2 id="feed-profile-user"><%= link_to feed.user.name, user_path(feed.user.id) %></h2>
          </td>
        </tr>
        </table>
        </div>
          <div class="show-feed">
            <p id="feed-image">
              <%=link_to image_tag(feed.image.url), feed %>
            </p>
          </div>
          <div id="show-sentence">
            <p id="show-content">
              <%= feed.content %>
            </p>
          </div>

          <div class="show-feed">
            <% unless feed.user_id == current_user.id %>
              <% if current_user.favorites.find_by(feed_id: feed.id)  %>
                <%= link_to 'お気に入り', favorite_path(id: feed.favorites.find_by(user_id: current_user.id).id), method: :delete, class: 'btn btn-warning favorite-btn' %>
              <% else %>
                <%= link_to 'お気に入り', favorites_path(feed_id: feed.id), method: :post, class: 'btn btn-default favorite-btn' %>
              <% end %>
            <% end %>
          </div>

          <div class="create-time">
            <%= feed.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
      <% end %>

      <br>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>