<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main ">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    
      <table>
        <tr>
          <td>
          <% if @user.profile_image.url != nil%>
            <span id="feed-round-image"><%= image_tag(@user.profile_image.thumb.url) %></span>
          <% end %>
          </td>
          <td id="profile">
            <h2 id="feed-profile-user"><%= link_to @user.name, user_path(@feed.user.id) %></h2>
          </td>
        </tr>
      </table>
    <div class="show-feed">
      <p id="feed-image">
        <%= image_tag @feed.image.url %>
      </p>
    </div>

    <div id="show-sentence">
      <p id="show-content">
        <%= @feed.content %>
      </p>
    </div>

    <div class="show-feed">
      <% unless @feed.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'お気に入り', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-warning favorite-btn' %>
        <% else %>
          <%= link_to 'お気に入り', favorites_path(feed_id: @feed.id), method: :post, class: 'btn btn-default favorite-btn' %>
        <% end %>
      <% end %>
    </div>

    <div class="show-feed">
      <ol class="breadcrumb show-nav">
        <li><%= link_to 'ホーム', feeds_path %></li>
      <% if current_user == @feed.user %>
        <li><%= link_to '編集', edit_feed_path(@feed) %></li>
        <li><%= link_to '削除', @feed, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
      </ol>
    </div>

    </div>
    <div class="col-md-2"></div>

</div>
</div>