<div class="container">
<div class="row">
  <div class="col-md-2"></div>
    <div class="edit-main col-md-8">
      <h1>プロフィール編集</h1>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="edit-user-main">
        <%= form_with(model: @user, local: true) do |f| %>
          <p><%= f.label :プロフィール画像 %></p>
          <p><%= f.file_field :profile_image %></p>
          <p><%= f.label :name %></p>
          <p id="edit-name"><%= f.text_field :name %></p>
          <p><%= f.label :自己紹介 %></p>
          <p id="edit-profile"><%= f.text_area :profile_content %></p>
          <p><%= f.submit "変更を保存" %></p>
        <% end %>

        <%= link_to '戻る', @user %>
      </div>
    </div>

  <div class="col-md-2"></div>

</div>
</div>
