<h1>Editing user</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :profile_image %>
  <%= f.file_field :profile_image %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :profile_content %>
  <%= f.text_area :profile_content %>
  <%= f.submit "変更を保存" %>
<% end %>

<%= link_to 'Show', @user %>
