<div class="main-header">
  <h1 id="title">Twilight Hour</h1>
  <div class="header">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
      <%
=begin%>
 <%= current_user.name %>
<%
=end%>
      <span class="label label-info"><%= link_to "Profile", user_path(current_user.id) %></span>
      <span class="label label-danger"><%= link_to "Logout", session_path(current_user.id), method: :delete %></span>
    <% else %>
      <span class="label label-primary"><%= link_to "Sign up", new_user_path %></span>
      <span class="label label-success"><%= link_to "Login", new_session_path %></span>
    <% end %>
</div>
<h1 class="center entry">新規登録</h1>
<%= render 'form' %>
<br>
<br>
</div>
