<h1><%= @user.name %>のページ</h1>
<% if @user.profile_image.url != nil%>
  <%= image_tag(@user.profile_image.url) %>
<% end %>
<p>メールアドレス: <%= @user.email %></p>
<%= @user.profile_content %>
<%= link_to 'プロフィールを編集', edit_user_path(@user) %>
<%= link_to 'アカウントを削除', user_path(@user), method: :delete, data: { confirm: 'アカウントを削除しますか?' } %>
<%= link_to '投稿する', new_feed_path %>
<%= link_to "ホームに戻る", feeds_path %>